* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    height: 300px
}
.errormsg{
  font-size: 30px;
 
}

.backdiv{
    background-color: #3d3434;
    max-width: 70px;
    border-radius: 5px;
  display: flex;

}
.backbtn{
    color: rgb(231, 231, 231);
    font-style: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
}